# * Client ENV
NEXT_PUBLIC_APP_ENV=emulator
NEXT_PUBLIC_BASE_URL=

NEXT_PUBLIC_API_KEY=
NEXT_PUBLIC_AUTH_DOMAIN=
NEXT_PUBLIC_PROJECT_ID=
NEXT_PUBLIC_STORAGE_BUCKET=
NEXT_PUBLIC_MESSAGING_SENDER_ID=
NEXT_PUBLIC_APP_ID=


# * Server ENV
API_URL=

# * Socials
NEXT_PUBLIC_TWITTER_HANDLE=
NEXT_PUBLIC_TWITTER_ID=
NEXT_PUBLIC_INSTAGRAM_HANDLE=
NEXT_PUBLIC_TIKTOK_HANDLE=
NEXT_PUBLIC_FACEBOOK_HANDLE=
NEXT_PUBLIC_LINKEDIN_HANDLE=

# * Tags and verification
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=
NEXT_PUBLIC_GOOGLE_VERIFICATION_SITE_ID=