DATABASE_URL=
BASE_URL=
TOKEN_SECRET=
PUBLIC_DOMAIN_URL=


ACCOUNT_EMAIL=
ADMISSIONS_EMAIL=
INFO_EMAIL=
APPLICATION_EMAIL=
MARKETING_EMAIL=
NOREPLY_EMAIL=
COMPLAINTS_EMAIL=

#! Add only on production and dev
SYSTEM_IO_API_KEY=
SYSTEM_IO_SUBSCRIPTION_TAD_ID=

# ! Do not add this in production environment
SKYNED_ENVIRONMENT=

# ! Should be used only in .env.test
# ? This is used for running test on local machine to authenticate service account for firebase
GOOGLE_APPLICATION_CREDENTIALS=
# FIREBASE_AUTH_EMULATOR_HOST=
# FIREBASE_STORAGE_EMULATOR_HOST=

