DATABASE_URL=
BASE_URL=
TOKEN_SECRET=

# ! Do not add this in production environment
SKYNED_ENVIRONMENT=
# ! Should be used only in .env.test
# ? This is used for running test on local machine to authenticate service account for firebase
GOOGLE_APPLICATION_CREDENTIALS=

